* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Oswald', 'Zen Old Micho';
}

body {
    background-image: url(../img/login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}


main {
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

#title {
    color: #0c0c0c;
}

.contenedor__principal {
    width: 100%;
    max-width: 800px;
    margin: auto;
    /* para centrar*/
    position: relative;
    /* para centrar*/
}

.contenedor__principal h2 {
    color: #fdfdfd;
    /* texto*/
    transition: all 500ms;
}

#textmenu a {

    border: 5px rgb(246, 218, 6);
    transition: all 0.3s;
    color: rgb(248, 247, 247);
    padding: 5px;
    margin-right: 500px;
}

.contenedor__inferior {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    /* desenfoque */
    background-color: rgba(29, 24, 25, 0.5);

}

.contenedor__inferior div {
    margin: 100px 40px;
    color: white;
    /* texto*/
    transition: all 500ms;
}


.contenedor__inferior div p,
.contenedor__inferior button {
    margin-top: 30px;
}

.contenedor__inferior div h3 {
    font-weight: 400;
    /* menos grosor*/
    font-size: 26px;
}

.contenedor__inferior div p {
    font-size: 20px;
    font-weight: 300;
}

.contenedor__inferior button {
    padding: 10px 40px;
    border: 2px solid #fff;
    font-size: 14px;
    background: transparent;
    font-weight: 600;
    cursor: pointer;
    /* para dar click*/
    color: white;
    outline: none;
    /* quitar linea*/
    transition: all 300ms;
}

.contenedor__inferior button:hover {
    background: #fff;
    background: -webkit-linear-gradient(left, #9fa0a1, #bf1b39);
    border: 2px rgb(22, 1, 1);
    transition: all 0.3s;
}

/*Formularios*/

.contenedor__login-register {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;

    /*Esto es una animacion de JS la transicion va despues del codigo JS*/
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedor__login-register form {
    width: 100%;
    padding: 80px 20px;
    background: white;
    position: absolute;
    border-radius: 20px;
}

.contenedor__login-register form h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #0c0c0c;
}

.contenedor__login-register form input {
    width: 100%;
    margin-top: 8px;
    padding: 5px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;
}

.contenedor__login-register form select {
    width: 100%;
    margin-top: 8px;
    padding: 5px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;
}

.contenedor__login-register form button {
    padding: 10px 40px;
    margin-top: 30px;
    border: none;
    font-size: 14px;
    background: #ffc107;
    font-weight: 600;
    cursor: pointer;
    color: rgb(8, 8, 8);
    outline: none;
}

.contenedor__login-register form a {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: rgb(8, 8, 8);
    outline: none;
}

.contenedor__login-register button:hover {
    background: #fff;
    background: -webkit-linear-gradient(left, #9fa0a1, #bf1b39);
    transition: all 0.3s;
}


.formulario__login {
    opacity: 1;
    display: block;
}

.formulario__register {
    display: none;
}


/* responsive */
@media screen and (max-width: 850px) {

    main {
        margin-top: 50px;
    }

    .contenedor__inferior {
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .contenedor__inferior div {
        margin: 0px;
        position: absolute;
    }


    /*Formularios*/

    .contenedor__login-register {
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .contenedor__login-register form {
        position: relative;
    }
}


#eyes {

    width: 12%;

}

#eye {

    width: 12%;

}

.campo {
    position: relative;
}


input {
    width: 100%;
    padding: 7px;
}

.campo img {

    position: absolute;
    right: 5px;
    top: 15px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 2px 10px;


}

.campoo {
    position: relative;
}


input {
    width: 100%;
    padding: 7px;
}

.campoo img {

    position: absolute;
    right: 5px;
    top: 15px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 2px 10px;


}